## Backend ###
/backend/HELP.md
/backend/.gradle
/backend/build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
/backend/.apt_generated
/backend/.classpath
/backend/.factorypath
/backend/.project
/backend/.settings
/backend/.springBeans
/backend/.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
/backend/.idea
/.idea
*.iws
*.iml
*.ipr
/backend/out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/backend/nbproject/private/
/backend/nbbuild/
/backend/dist/
/backend/nbdist/
/backend/.nb-gradle/

### VS Code ###
/backend/.vscode/
/.vscode

### DB ###
/backend/src/main/resources/application.yml


## Frontend ###
/frontend/build
/frontend/node_modules
/frontend/README.md